body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(to bottom right, #2E21AC, #E44D9E);
}

.titleName {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.gameStatus {
    color: white;
    margin-right: 35px;
}

#game-display {
    background-color: white;
    width: 90vmin;
    height: 85vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    border: 1px solid black;
}

.snakehead {
    border: 1px solid black;
    object-fit: cover;
    width: 96%;
    height: 95%;
}

.snake {
    background-color: darkblue;
    border: 1px solid black;
}

.Normal-Food {
    background-color: green;
    border: 1px solid black;
}

.Bad-Food {
    background-color: brown;
    border: 1px solid black;
}

.Gold-Food {
    background-color: gold;
    border: 1px solid black;
}
